<!DOCTYPE>
<html>
  <head>
    <style>
      #c {text-align:center;}
    </style>
    <h1 id="c">HomePage</h1>
  </head>
  <body id='c'>
    <%= link_to 'About Page', about_path %>
    <p>test app</p>
  </body>
</html>